.card {
    display: flex;
    width: 20rem;
    border-radius: 10px;
    background: #ffff;
    box-shadow: 20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff;
    margin-top: -2rem;
   }

   .card:hover {
    box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.5);
  }
  .card:hover {
    color: #07ff07;
    box-shadow: 2px 2px 15px #07ff07 inset;
  }
  
  