.inputs {

background-color: #e8e8e8;
 box-shadow: 6px 6px 12px #ffffff,
             -6px -6px 12px #c5c5c5;
             color: black;
    font-weight: bold;
  }
  
  .inputs:focus {
    color: black;
    /* background-color: #212121; */
    outline-color: #07ff07;
    box-shadow: -3px -3px 15px #07ff07;;
    transition: .1s;
    transition-property: box-shadow;
  }
  .error{
    outline-color: #07ff07;
    box-shadow: -3px -3px 15px #07ff07;;
    transition: .1s;
    transition-property: box-shadow;
  }
  